h1, h2, h3, h4, h5, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    
}
/* 
if i need to add contrast to the board vs the screen comeback to this
#GameBoard{
    background-color: gray;
    
} */

.ZeroPadding{
    padding: 0 !important;
}

.btn-primary:hover{
    text-decoration: underline;
}

.btn-Secondary {
    height: fit-content;
    width: min-content;
    border: none;
    border-radius: 10px;
    background-color: rgb(173, 173, 173);
}

.Title{
    width: fit-content;
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    border-radius: 8px;
}

.Center {
    display: flex;
    justify-content: center;
}

.TopMargin {
    margin-top: 2rem;
}

.RemoveLinkCSS{
    color: black;
    background-color: #7d9b7a;
    padding: 0.5rem;
    border-radius: 7px;
    text-decoration: none;
}


.RemoveLinkCSS:hover{
    background-color: #485e46;
    color: white;
    text-decoration: underline;
}

.ReminderText {
    text-align: center;
}

.Body{
    background-color: blueviolet;
}

.modalBottomMargin {
    margin-bottom: 1.4rem;
}
.modalNote{
    font-size: 1.1rem;
}

.WarningText{
    background-color: rgb(71, 71, 71);
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
}

.Answer {
    width: 20rem;
    height: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.SubmitBtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.WrongAns{
    color: crimson;
}
.CorrectAns{
    color: blueviolet;
}

.GameTile{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.4rem;
    background-color: transparent;
    perspective: 1000px;
}


.GameTileEx{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.1rem;
    perspective: 1000px;
}

.TileFontEx{
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 7px;
}

.GameTileInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.isFlipped{
    transform: rotateX(-180deg)
}

.GameTileFront{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
}

.GameTileFront, .GameTileBack{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -8px;
    left: -8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.GameTileBack{
    background-color: rgb(88, 88, 88);
    transform: rotateX(180deg);
    border: none;
}

.StatsText{
    position: relative;
    right: 10px;
}

.PercentText{
    position: relative;
    right: 20px;
}

.StatsNum{
    font-size: 2.4rem;
}
.Wrong{
    background-color: rgb(88, 88, 88);
    color: white
}
.Exist{
    background-color: #c9b458;
    color: black;
}
.Correct{
    background-color: #6aaa64;
    color: black;
}
.Keyboard{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.4rem;
    background-color: grey;
    color: white;
}
.Keyboard-Enter{
    border: 2px solid black;
    width: 110px;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.4rem;
    background-color: grey;
    color: white;
}
.Keyboard-Backspace{
    border: 2px solid black;
    width: 200px;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.4rem;
    background-color: grey;
    color: white;
}
@media only screen and (min-width: 320px){
    .GameTile{
        width: 40px;
        height: 40px;
        font-size: 1.75rem;
    }
    .GameTileFront, .GameTileBack{
        
        bottom: -8px;
        left: -8px;

    }

    .fa-2x {
        font-size: 1.5rem;
    }

    .Title{
        font-size: 1.3rem;
    }

    .Keyboard{
        width: 35px;
        height: 35px;
        font-size: 1.3rem;
        margin: 0.1rem;

    }
    .Keyboard-Enter{
        width: 60px;
        height: 35px;
        font-size: 1.1rem;
        margin: 0.1rem;

    }
    .Keyboard-Backspace{
        width: 100px;
        height: 35px;
        font-size: 1.1rem;
        margin: 0.1rem;
    }

}

@media only screen and (min-width: 375px){
    .GameTile{
        width: 45px;
        height: 45px;
        font-size: 2rem;
    }
    .GameTileFront, .GameTileBack{
        
        bottom: -8px;
        left: -9px;

    }
    .fa-2x {
        font-size: 1.5rem;
    }

    .Keyboard{
        width: 40px;
        height: 40px;
        font-size: 1.6rem;
        margin: 0.2rem;

    }
    .Keyboard-Enter{
        width: 70px;
        height: 40px;
        font-size: 1.3rem;
        margin: 0.2rem;

    }
    .Keyboard-Backspace{
        width: 120px;
        height: 40px;
        font-size: 1.3rem;
        margin: 0.2rem;
    }

}

@media only screen and (min-width: 768px){
    .GameTile{
        width: 60px;
        height: 60px;
        font-size: 2.5rem;
    }
    .Keyboard{
        width: 60px;
        height: 60px;
        font-size: 2.5rem;
        margin: 0.4rem;
    }
    .Title{
        font-size: 2rem;
    }
    .Keyboard-Enter{
        width: 110px;
        height: 60px;
        font-size: 2rem;
        margin: 0.4rem;

    }
    .Keyboard-Backspace{
        width: 200px;
        height: 60px;
        font-size: 2rem;
        margin: 0.4rem;
    }
    .fa-2x {
        font-size: 2rem;
    }
}